*{
margin:0;
padding:0;
}

.wrapper{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
}

.title{
  grid-column: 1/7;
  text-align: center;
  border:2px solid purple;
  padding:20px 0 20px 0;
}

.left-border{
  grid-column: 1/4;
  border:2px solid red;
}

.left-border img{
  width: 100%
}

.right-border{
  grid-column: 4/7;
  border:2px solid green;
}

.right-border img{
  width: 100%
}
