*{
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#showcase{
  height: 100vh;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  display: grid;
  grid-template-columns:1fr 4fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

#showcase-content{
  color:#fff;
}

#showcase-content{
  grid-column: 2;
  grid-row: 3;
}

#showcase-content #showcase-title{
  font-size: 5em;
}

#showcase button{
  width:60%;
  height:20%;
  font-size: 2em;
  background:#ecb939;
  color:#333;
  border: #ecb939 2px solid;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  cursor:pointer;
  margin-top:1em;
}

#showcase button:hover{

  width:75%;
}

#project-link{
  color:white;
  grid-column:2;
  grid-row: 5;
  align-self: end;
  margin-bottom:1em;
  font-size: 2em;
}

/* Section A */

#section-a{
  background: #fff;
}

#section-a h1{
  color:black;
  font-size:3em;
  padding-top:2em;
  padding-bottom:1em;
}

.card-img{
  width:30%;
  margin-bottom:2em;
}

#section-a ul{
}

#section-a li{
  width:85%;
  background: #fff;
  list-style-type: none;
  margin:1em auto;
  padding:2em 1em;
}

#section-a h2{
  margin-bottom:1em;
}

#section-b{
  background: #ECECEC;
}

#section-b h1{
  font-size: 3em;
  padding-top:2em;
  padding-bottom:1em;
}

#section-b img{
  margin-top:2em;
  width:80%;
}

#section-b p{
  width:80%;
  margin:auto;
  padding:0 1em 0 1em;
  margin-bottom: 3em;
}
